

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(images/cusat.jpg);">
					<span class="login100-form-title-1">
						CUSAT HOSTELS

					</span>

            </div>

            <div class="tab-group">
                <button id="log_btn">Login</button>
                <button id="reg_btn">Signup</button>
            </div>


            <div id="Login" class="tabcontent">
                <form class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="RegisterNo is required">
                        <span class="label-input100">RegisterNo</span>
                        <input class="input100" type="text" name="RegisterNo" placeholder="Enter registerno">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="pass" placeholder="Enter password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">


                        <div>
                            <a href="#" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </form>

            </div>

            <div id="SignUp" class="tabcontent" style="display: none">
                <form class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="RegisterNo is required">
                        <span class="label-input100">RegisterNo</span>
                        <input class="input100" type="text" name="RegisterNo" placeholder="Enter registerno">
                        <span class="focus-input100"></span>
                    </div>
                    <div id="otp" class="container" style="display: none">
                        <div class="wrap-input100 validate-input m-b-26" data-validate="OTP is required">
                            <span class="label-input100">OTP</span>
                            <input class="input100" type="OTP" name="OTP" placeholder="Enter OTP">
                            <span class="focus-input100"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Password is required">
                            <span class="label-input100">Password</span>
                            <input class="input100" type="password" name="passW" placeholder="Enter password">
                            <span class="focus-input100"></span>
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <div id="otp_btn" class="login100-form-btn">
                            send otp
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <button id="submit_btn" class="login100-form-btn" hidden>
                            submit
                        </button>
                    </div>
                </form>

            </div>

        </div>


    </div>
</div>
</div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>