{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Application/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Application/css/main.css' %}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark tabs">
        <a class="navbar-brand" href="#">
            <img class="img-responsive2" src="{% static 'images/logo.svg' %}" width="40" height="40" alt="CUSAT"> <span
                id="sp">CENTRAL OFFICE FOR UNIVERSITY HOSTEL</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="selector"></div>
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a href="#" class="bez nav-link active1">Apply</a>
                </li>
                <li class="nav-item ">
                    <a href="#" class="bez nav-link">View</a>
                </li>
                <li class="nav-item ">
                    <a href="#" class="bez nav-link">Result</a>
                </li>
                <li class="nav-item ">
                    <a href="{% url logout %}" class="bez nav-link">Logout</a>

                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block contents %}
    <body onload="load_dept()">


    <div class="container-login100 w-100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url({% static 'images/cusat.jpg' %});">
					<span class="login100-form-title-1">
						 APPLICATION FORM
					</span>
            </div>
            <div id="Login" class="tabcontent">
                    {% crispy form %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block scripts %}
    <script src="{% static 'Application/js/main.js' %}"></script>
{% endblock %}


