{% load crispy_forms_field %}

<div class="col-sm-6">
    {% if field.label == "Admission date" %}
        <span class="label-input100">Date of</span>
    {% endif %}
    <div class="{{ wrapper_class }}" data-validate="{{ field.label }} is required">
        <input type="{{ type }}" name="{{ field.name }}" placeholder="Course Completion"
               class="dateinput input--style-1" required="" id="id_{{ field.name }} date-format='{{ date_format }}">
    </div>
</div>

{% if form_show_errors %}
    {% for error in field.errors %}
        <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="errorField text-danger">
            {{ error }}
        </p>
    {% endfor %}
{% endif %}
