<div class="col-sm-4">
    <div class="{{ wrapper_class}}">
        <span class="label-input100 ">{{ field.label }}</span>
        <div class=" m-b-18" data-validate="Option is required">
            <div class="form-check form-check-inline ">
                <input class="form-check-input input-checkbox100" type="radio"
                       name="{{ field.label }}"
                       id="{{ field.auto_id }}1"
                       value=1>
                <label class="form-check-label label-checkbox100" for="{{field.auto_id}}1">Yes</label>
            </div>
            <div class="form-check form-check-inline ">
                <input class="form-check-input input-checkbox100" type="radio"
                       name="{{ field.label }}"
                       id="{{field.auto_id}}2"
                       value=0>
                <label class="form-check-label label-checkbox100" for="{{field.auto_id}}2">No</label>
            </div>
        </div>
    </div>
</div>